<div ng-init="populate()">
    <p class="error">{{error}}</p>
    <p>{{loadingMessage}}</p>
    <div class="panel">
        <div class="input-group">
                
            <input ng-model="newToDoaccount" class="form-control" style="width: 10%" placeholder="account"/>
            <input ng-model="newToDocurrent_activity" class="form-control" style="width: 10%" placeholder="current_activity" />
            <input ng-model="newToDocurrent_task" class="form-control"  style="width: 10%" placeholder="current_task"/>
            <input ng-model="newToDocontact" class="form-control"  style="width: 10%" placeholder="contact" />
            <input ng-model="newToDorole" class="form-control" style="width: 10%" placeholder="role" />
            <input ng-model="newToDousecase" class="form-control" style="width: 10%" placeholder="usecase" />
            <input ng-model="newToDonote" class="form-control" style="width: 10%" placeholder="note" />
            <input ng-model="newToDoaction_plan" class="form-control" style="width: 10%" placeholder="action_plan" />
            <input ng-model="newToDoemail_template" class="form-control" style="width: 10%" placeholder="email_template" />
            <input ng-model="newToDouser" class="form-control" style="width: 10%" placeholder="user" />
            <input ng-model="newToDocreationdate" class="form-control" style="width: 10%" placeholder="creationdate" />
            <input ng-model="newToDostartdate" class="form-control" style="width: 10%" placeholder="startdate" />
            <input ng-model="newToDoenddate" class="form-control" style="width: 10%" placeholder="enddate" />
            <span class="input-group-btn">
                <button ng-click="add();" class="btn btn-default">Add</button>
            </span>
        </div>
        <table class="table table-striped">
            <tbody>
                <tr data-ng-repeat="item in todoList">
                    <td>
                           
                        <span>{{item.account}}</span>
                        <span>|</span>
                        <span>{{item.current_activity}}</span>
                        <span>|</span>
                        <span>{{item.current_task}}</span>
                        <span>|</span>
                        <span>{{item.contact}}</span>
                        <span>|</span>
                        <span>{{item.role}}</span>
                        <span>|</span>
                        <span>{{item.usecase}}</span>
                        <span>|</span>
                        <span>{{item.note}}</span>
                        <span>|</span>
                        <span>{{item.action_plan}}</span>
                        <span>|</span>
                        <span>{{item.email_template}}</span>
                        <span>|</span>
                        <span>{{item.user}}</span>
                        <span>|</span>
                        <span>{{item.creationdate}}</span>
                        <span>|</span>
                        <span>{{item.startdate}}</span>
                        <span>|</span>
                        <span>{{item.enddate}}</span>
                        <span>|</span>
                       
                        <input type="checkbox" ng-model="item.isComplete" ng-disabled="!item.edit">                       
                        <span>|</span>
                        <div class="input-group">
                           
                        <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.account" class="form-control" style="width: 10%" /> 
                        <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.current_activity" class="form-control" style="width: 10%"/>     
                        <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.current_task" class="form-control" style="width: 10%"/>     
                        <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.contact" class="form-control" style="width: 10%"/>     
                        <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.role" class="form-control" style="width: 10%"/>     
                        <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.usecase" class="form-control" style="width: 10%" />                            
                        <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.note" class="form-control" style="width: 10%" />                            
                        <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.action_plan" class="form-control" style="width: 10%" />                            
                        <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.email_template" class="form-control" style="width: 10%" />                            
                        <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.user" class="form-control" style="width: 10%" />                            
                        <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.creationdate" class="form-control" style="width: 10%" />                            
                        <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.startdate" class="form-control" style="width: 10%" />                            
                        <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.enddate" class="form-control" style="width: 10%" />                            

                    </div>
                    </td>
                    <td>
                        <p data-ng-hide="item.edit || editingInProgress">
                            <a data-ng-click="editSwitch(item)" href="javascript:;">Edit</a> | 
                            <a data-ng-click="delete(item.id)" href="javascript:;">Delete</a></p>
                            <p data-ng-show="item.edit"><a data-ng-click="update(item)" href="javascript:;">Save</a> | 
                            <a data-ng-click="editSwitch(item)" href="javascript:;">Cancel</a></p>                       
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>